{{ define "main" }}
<article class="wrap article">
  <header class="article-header">
    <h1>{{ .Title }}</h1>
    {{ if eq .Section "posts" }}
      <div class="post-meta">{{ .Date.Format "2 January 2006" }} · {{ .ReadingTime }} min read</div>
      {{ with .Params.tags }}
        <div class="tags">
          {{ range . }}<a href="{{ (printf "tags/%s/" (. | urlize)) | relURL }}">#{{ . }}</a>{{ end }}
        </div>
      {{ end }}
    {{ end }}
  </header>
  <div class="content">
    {{ .Content }}
  </div>
</article>
{{ end }}
